parent/.idea/

api/switch-api.iml
core/switch-core.iml
ear/switch-ear.iml
jpos/q2mbean.iml
model/switch-model.iml
parent/switch-parent.iml
service/switch-service.iml
utility/utility.iml
web/switch-web.iml
jsf/jsf-component.iml
security/security.iml

api/target
core/target
ear/target
jpos/target
model/target
service/target
utility/target
web/target
jsf/target
security/target/
database
